/* Basic editor styles */
.tiptap {
    > * + * {
      margin-top: 0.75em;
    }
  
    ul {
      margin: 0 1rem;
      list-style-type: disc;
    }

    ol{
      margin: 0 1rem;
      list-style-type: decimal;
    }
  }